/*
Author: UI UX First
Author URI: http://uiuxfirst.com
Description: UX Admin
Version: 1.4.1
License: GNU General Public License
License URI: license.txt
*/

/*Large Desktop*/
@media (min-width: 1200px) {

}

/*Desktop*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Small desktop or tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	body{overflow-x: hidden;}
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		border: 1px solid #dddddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive > .table {
		margin-bottom: 0;
	}
	.table-responsive > .table > thead > tr > th,
	.table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > th,
	.table-responsive > .table > thead > tr > td,
	.table-responsive > .table > tbody > tr > td,
	.table-responsive > .table > tfoot > tr > td {
		white-space: nowrap;
	}
	.table-responsive > .table-bordered {
		border: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:first-child,
	.table-responsive > .table-bordered > tbody > tr > th:first-child,
	.table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.table-responsive > .table-bordered > thead > tr > td:first-child,
	.table-responsive > .table-bordered > tbody > tr > td:first-child,
	.table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:last-child,
	.table-responsive > .table-bordered > tbody > tr > th:last-child,
	.table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.table-responsive > .table-bordered > thead > tr > td:last-child,
	.table-responsive > .table-bordered > tbody > tr > td:last-child,
	.table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.table-responsive > .table-bordered > tbody > tr:last-child > th,
	.table-responsive > .table-bordered > tfoot > tr:last-child > th,
	.table-responsive > .table-bordered > tbody > tr:last-child > td,
	.table-responsive > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
	.button-menu-mobile{display: block;}
	.navbar{margin: 0 0 0 40px;}
	.mobile-sidebar{left: 0px;}
	.mobile-content{left: 225px;right: -225px;}
	.box-info .icon-box{
		width: 45px;
		font-size: 20px;
		margin-top: 5px
	}
	.box-info .text-box p{font-size: 11px;}
	.toolbar-btn-action{text-align: center;}
	.gallery-wrap .column .inner .img-wrap{
		height: 60px;
		overflow: hidden;
		background: #ddd;
	}
	.gallery-wrap .column-3 .inner .img-wrap{
		height: 140px;
		overflow: hidden;
		background: #ddd;
	}
	.gallery-wrap .column-4 .inner .img-wrap{
		height: 100px;
		overflow: hidden;
		background: #ddd;
	}
	.user-profile-sidebar{text-align: center;}
	
}

/*Phone*/
@media (max-width: 767px) {
	body{overflow-x: hidden;}

	.mobile-sidebar{left: 0px;}
	.mobile-content{left: 250px;right: -250px;}
	.box-info table{margin: 0 0 0 0;}
	.box-info .table-responsive{border: none;}
	.nav.navbar-nav.top-navbar li span.absolute {left: 25px;}
	.box-info .additional .list-group{margin-bottom: -10px;}
	.toolbar-btn-action{text-align: center;}
	.gallery-wrap .column{width: 25%;}
	.gallery-wrap .column-4{width: 33.33333333333333%;}
	.gallery-wrap .column-3{width: 50%;}
	.gallery-wrap .column .inner .img-wrap{
		height: 70px;
		overflow: hidden;
		background: #ddd;
	}
	.gallery-wrap .column-3 .inner .img-wrap{
		height: 140px;
		overflow: hidden;
		background: #ddd;
	}
	.gallery-wrap .column-4 .inner .img-wrap{
		height: 105px;
		overflow: hidden;
		background: #ddd;
	}
	.widget.box-messages{
		margin-top:0px;
	}
	
	footer{text-align: center;}
	.navbar-nav{
		float:left;
		margin:0px;
	}
	.navbar{
		border:none;
	}

	.navbar-nav .open .dropdown-menu{
		float:left;
		position: absolute;
		background:#fff;
		right:0px;
		left:auto;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	}

	.navbar-nav.navbar-right:last-child {
	    margin-right: -15px;
	    height:50px;
	}

	.open > .dropdown-menu {
	    display: block;
	}

	.nav-tabs.nav-justified > li {
	    display: table-cell;
	    width: 1%;
	}

	.navbar-nav > li > a{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar-right{
		float: right;
	}
	.navbar-nav > li{
		display: inline-block;
	}
	.lock-screen{text-align: center;}

	.profile-actions{
		bottom:auto;
		top:60px;
	}
	.widget-tabbed{
		margin-top:40px;
	}
	.widget-tabbed .nav-tabs a{
		font-size:0px !important;
	}
	.widget-tabbed .nav-tabs a i{
		font-size:18px !important;
	}
	.the-timeline ul li.the-year{
		font-size:30px;
	}
	.ava-lock-screen{text-align: center; margin-bottom: 20px;}
	.ava-lock-screen img{
		width: 100px;
		margin: 0;
	}
	.open-right-sidebar .hide-phone{
		display: none;
	}
	
	.la-pricing-table .la-col-4{width: 50%;}
	.user-profile-sidebar{text-align: center;}
}

@media (max-width: 480px){
	.box-info .icon-box{
		width: 100%;
		display: block;
	}
	.box-info .icon-box,.box-info .text-box{text-align: center;}
	.gallery-wrap .column,.gallery-wrap .column-3,.gallery-wrap .column-4{width: 33.33333333333333%;}
	.gallery-wrap .column .inner .img-wrap,.gallery-wrap .column-3 .inner .img-wrap,.gallery-wrap .column-4 .inner .img-wrap{height: 70px;}
	.login-wrap{margin: 20px 0 0 0;}
	
	.navbar-default {
	  border: none;
	}
	.open-right-sidebar .topbar-profile,.open-right-sidebar .hide-phone{
		display: none;
	}
	.the-timeline ul li.the-year{
		font-size:20px;
		margin-left: 37%;
	}
	#wrapper:not(.enlarged) .topbar-profile,#wrapper:not(.enlarged) .hide-phone{
		display: none;
	}
	#wrapper .content-page{
		margin-left:0px !important;
		padding-left:50px;
		width:100%;
		display: inline-block;
	}
	.open-right-sidebar .content-page > .content{
		opacity: 0;
	}
	.side-menu{
		z-index: 10 !important;
	}
	#weather h2{
		top:90px;
	}
	#weather .w-region{
		top:250px;
	}
	#stock-widget #stock-title{
		display: none;
	}
	#stock-widget .stock-options{
		margin-left: 15px;
	}
	.button-menu-mobile{display: block;}
}

@media (max-width: 420px){
	.hide-phone{
		display: none !important;
	}

	
}

@media (max-width: 360px){
	.gallery-wrap .column,.gallery-wrap .column-3,.gallery-wrap .column-4{width: 50%;}
	.gallery-wrap .column .inner .img-wrap,.gallery-wrap .column-3 .inner .img-wrap,.gallery-wrap .column-4 .inner .img-wrap{height: 80px;}
	.la-pricing-table .la-col-4{width: 100%;}
}

@media (max-width: 320px){
	.gallery-wrap .column,.gallery-wrap .column-3,.gallery-wrap .column-4{width: 50%;}
	.gallery-wrap .column .inner .img-wrap,.gallery-wrap .column-3 .inner .img-wrap,.gallery-wrap .column-4 .inner .img-wrap{height: 70px;}
}